@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-9">
        <div class="company-info">
            <img src="~/images/record.png" />
            <ul class="goldies-lists">
                <li>Vinyl records</li>
                <li>Freshly fround coffee</li>
                <li>Live music</li>
            </ul>
            <button id="findOutMoreButton" class="btn btn-success">- FIND OUT MORE -</button>
        </div>
        <div>
            <div id="loginToggle">Login</div>
            <form class="popup-form">
                <div>
                    <label>Username</label>
                    <input />
                </div>
                <div>
                    <label>Password</label>
                    <input type="Password" />
                </div>
                <div>
                    <input type="checkbox" />
                    <label>Remember me?</label>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3">
        <p>Probably the best record store in the world.</p>
    </div>
    
</div>